body {
  min-width: 500px;
}
/*style main content*/
.rightAnswer {
  padding: 10px;

  border: 3px;
  border-color: #009406;
  border-style: solid;
  border-radius: 7px;
}
.error {
  padding: 10px;

  border: 3px;
  border-color: red;
  border-style: solid;
  border-radius: 7px;

  color: red;
}
.info {
  padding: 10px;

  border: 3px;
  border-color: dodgerblue;
  border-style: dotted;
  border-radius: 7px;

  color: dodgerblue;
}
.questionNotFound {
  padding: 10px;

  border: 3px;
  border-color: gray;
  border-style: dashed;
  border-radius: 7px;

  color: gray;
}
/*hide elements*/
.hide {
  display: none !important;
}
/*settings style*/
.input-form {
  min-width: 80%;
  min-height: 29px;

  margin: 0px;
  padding: 0px;
  padding-left: 5px;

  border-color: transparent;
  border-width: 0px;

  background-color: transparent;

  color: gray;
  font-size: medium;
  transition: 1s;
}
.btn-form {
  min-width: 18%;
  min-height: 30px;

  margin: 0px;

  border-style: hidden;
  border-left-style: solid;
  border-color: transparent;
  border-width: 0px;
  border-left-color: dodgerblue;
  border-left-width: 2px;

  background-color: transparent;

  color: dodgerblue;
  font-size: medium;
  transition: 1s;
}
.btn-form:focus {
  outline:0;
  color: green;
}
.input-form:focus{
  outline:0;
  color: black;
}
.info-form {
  padding: 0px;

  border-style: solid;
}
